%article.Comment-box
  %header.Comment-box__header
    = link_to user_path(comment.user.id) do
      - if comment.user.icon?
        = image_tag comment.user.icon.url, class:"Comment-box__header__icon"
      - else
        = icon('fas', 'circle', class: "Comment-box__header__icon")
    .Comment-box__header__user
      .Comment-box__header__user__nickname
        = link_to user_path(comment.user.id) do
          = comment.user.nickname
      .Comment-box__header__user__id
        = link_to user_path(comment.user.id) do
          = comment.user.name
    .Comment-box__header__edit
      - if user_signed_in? && current_user.id == comment.user_id
        = link_to post_comment_path(comment.post.id, comment.id), method: :delete, data: { confirm: '削除しますか？' } do
          = icon('fas', 'trash',class: "Comment-box__header__edit__icon") 
        = link_to  edit_post_comment_path(comment.post.id, comment.id) do
          = icon('fas', 'ellipsis-v',class: "Comment-box__header__edit__icon") 
  .Comment-box__main
    %p.Comment-box__main__text
      = safe_join(comment.content.split("\n"),tag(:br))
    .Comment-box__main__date
      = comment.created_at.strftime("%Y/%m/%d %H:%M")
  .Comment-box__footer
    .Comment-box__footer__actions
      - if user_signed_in?
        .Comment-box__footer__actions__up
          - if current_user.already_comgood?(comment)
            = link_to "/posts/#{comment.post.id}/comments/#{comment.id}/comgoods/#{comment.comgoods.ids}", method: :delete do
              = icon('far', 'thumbs-up', class: "Comment-box__footer__actions__up__icon-on") 
          - else
            = link_to "/posts/#{comment.post.id}/comments/#{comment.id}/comgoods", method: :post do
              = icon('far', 'thumbs-up', class: "Comment-box__footer__actions__up__icon") 
          .Comment-box__footer__actions__up__count
            = comment.comgoods.count
        .Comment-box__footer__actions__down
          - if current_user.already_combad?(comment)
            = link_to "/posts/#{comment.post.id}/comments/#{comment.id}/combads/#{comment.comgoods.ids}", method: :delete do
              = icon('far', 'thumbs-down', class: "Comment-box__footer__actions__down__icon-on") 
          -else
            = link_to "/posts/#{comment.post.id}/comments/#{comment.id}/combads", method: :post do
              = icon('far', 'thumbs-down', class: "Comment-box__footer__actions__down__icon") 
          .Comment-box__footer__actions__down__count
            = comment.combads.count
      - else
        .Comment-box__footer__actions__up
          = icon('far', 'thumbs-up', class: "Comment-box__footer__actions__up__icon") 
          .Comment-box__footer__actions__up__count
            = comment.comgoods.count
        .Comment-box__footer__actions__down
          = icon('far', 'thumbs-down', class: "Comment-box__footer__actions__down__icon") 
          .Comment-box__footer__actions__down__count
            = comment.combads.count