.wrapper
  = render "posts/top_info"
  .Body
    .Body__items 
      %main
        = render "user_info"
        .field
          .Users-list
            %h1
              フォロワー
            %article.User-box
              - @user.followers.each do |user|
                %header.User-box__header
                  .User-box__header__top
                    = link_to user_path(user.id) do
                      - if user.icon?
                        = image_tag user.icon.url, class:"User-box__header__top__icon"
                      - else
                        = icon('fas', 'circle', class: "User-box__header__top__icon")
                    .User-box__header__top__user
                      .User-box__header__top__user__nickname
                        = link_to user_path(user.id) do
                          = user.nickname
                      .User-box__header__top__user__id
                        = link_to user_path(user.id) do
                          = user.name
                    .User__info__top__follow
                      = render "relationships/follow_button", user: user

          = render "side_bar"
