.wrapper
  = render "posts/top_info"
  .Body
    .Body__items 
      %main
        .User
          = link_to user_path(@user.id) do
            - if @user.icon?
              = image_tag @user.icon.url, class:"User__icon"
            -else
              = icon('fas', 'circle', class: "User__icon")
          .User__info
            .User__info__top
              .User__info__top__name
                .User__info__top__name__nickname
                  = link_to user_path(@user.id) do
                    = @user.nickname
                .User__info__top__name__id
                  = link_to user_path(@user.id) do
                    = @user.name
              .User__info__top__box
                %span{ class:"User__info__top__box__evaluate", rate:"#{@evaluate}"}
                .User__info__top__box__count
                  - if @evaluate == "none"
                    評価はまだありません。
                  - else
                    = @evaluate
                    = "(#{@goods_count + @comgoods_count})"
              .User__info__top__follow
                = render "relationships/follow_button", user: @user
            .User__info__middle
              .User__info__middle__value
                = link_to user_path(@user.id) do
                  投稿#{@posts_count}件
              .User__info__middle__value
                = link_to "フォロー#{@user.followings.count}人", "#{@user.id}/show_following", user: @user
              .User__info__middle__value
                = link_to "フォロワー#{@user.followers.count}人", "#{@user.id}/show_follower", user: @user
            .User__info__profile
              = @user.profile
        .field
          .Posts-list
            .Posts-type
              = link_to user_path(@user.id) do
                .Posts-type__value
                  .Posts-type__value__on
                    All
              = link_to "#{@user.id}/show_article", user: @user do
                .Posts-type__value
                  記事
              = link_to "#{@user.id}/show_question", user: @user do
                .Posts-type__value
                  質問
              = link_to "#{@user.id}/show_comment", user: @user do
                .Posts-type__value
                  回答
              = link_to "#{@user.id}/show_good", user: @user do
                .Posts-type__value
                  いいね
            = render @posts
            
          = render "side_bar"