.wrapper
  = render "posts/top_info"
  .Body
    .Body__items 
      %main
        = render "user_info"
        .field
          .Posts-list
            .Posts-type
              = link_to user_path(@user.id) do
                .Posts-type__value
                  All
              = link_to "show_article", user: @user do
                .Posts-type__value
                  記事
              = link_to "show_question", user: @user do
                .Posts-type__value
                  質問
              = link_to "show_comment", user: @user do
                .Posts-type__value
                  .Posts-type__value__on
                    回答
              = link_to "show_good", user: @user do
                .Posts-type__value
                  いいね
            = render @comments
            
          = render "side_bar"