= form_for @post do |f|
  - if post.errors.any?
    .Notification
      .alert
        %h2= "#{post.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - post.errors.full_messages.each do |message|
            %li= message
  %article.Post-box
    %header.Post-box__header
      .Post-box__header__top
        - if current_user.icon?
          = image_tag current_user.icon.url, class: "Post-box__header__top__icon"
        - else
          = icon('fas', 'circle', class: "Post-box__header__top__icon")
        .Post-box__header__top__user
          .Post-box__header__top__user__nickname
            = current_user.nickname
          .Post-box__header__top__user__id
            = current_user.name
        .Post-box__header__top__type-check
          = f.check_box :type
          = f.label :type, "質問"
        
      .Post-box__header__middle
        .Post-box__header__middle__title
          = f.text_field :title, autofocus: true, class: 'Post-box__header__middle__title-input' , placeholder: 'タイトルを入力'
    .Post-box__main
      = f.text_area :content, class: 'Post-box__main-input' , placeholder: '投稿内容を入力'
    .Post-box__footer
      .Post-box__footer__tags
        .Post-box__footer__tags__tag
          タグ１
        .Post-box__footer__tags__tag
          タグ２
        .Post-box__footer__tags__tag
          タグ３
      .Post-box__footer__submit
        = f.submit '送信', class: 'Post-box__footer__submit__btn'
