%article.Post-box
  %header.Post-box__header
    = icon('fas', 'circle', class: "Post-box__header__icon")
    .Post-box__header__user
      .Post-box__header__user__nickname
        = post.user.nickname
      .Post-box__header__user__id
        = post.user.name
    .Post-box__header__title
      = link_to  post_path(post.id) do
        = post.title
    .Post-box__header__edit
      - if user_signed_in? && current_user.id == post.user_id
        = link_to  post_path(post.id), method: :delete, data: { confirm: '削除しますか？' } do
          = icon('fas', 'trash',class: "Post-box__header__edit__icon") 
        = link_to  edit_post_path(post.id) do
          = icon('fas', 'ellipsis-v',class: "Post-box__header__edit__icon") 
  .Post-box__main
    %p.Post-box__main__text
      = safe_join(post.content.split("\n"),tag(:br))
    .Post-box__main__date
      = post.created_at.strftime("%Y/%m/%d %H:%M")
  .Post-box__footer
    .Post-box__footer__tags
      .Post-box__footer__tags__tag
        タグ１
      .Post-box__footer__tags__tag
        タグ２
      .Post-box__footer__tags__tag
        タグ３
    .Post-box__footer__actions
      .Post-box__footer__actions__reply
        = link_to  post_path(post.id) do
          = icon('fas', 'reply',class: "Post-box__footer__actions__reply__icon") 
        .Post-box__footer__actions__reply__count
          = post.comments.count
      .Post-box__footer__actions__favo
        = icon('fas', 'heart', class: "Post-box__footer__actions__favo__icon") 
        .Post-box__footer__actions__favo__count
          3
