%article.Post-box
  %header.Post-box__header
    .Post-box__header__top
      = link_to user_path(post.user.id) do
        - if post.user.icon?
          = image_tag post.user.icon.url, class:"Post-box__header__top__icon"
        - else
          = icon('fas', 'circle', class: "Post-box__header__top__icon")
      .Post-box__header__top__user
        .Post-box__header__top__user__nickname
          = link_to user_path(post.user.id) do
            = post.user.nickname
        .Post-box__header__top__user__id
          = link_to user_path(post.user.id) do
            = post.user.name
      .Post-box__header__top__type
        - if post.type == 1
          【質問】
      .Post-box__header__top__edit
        - if user_signed_in? && current_user.id == post.user_id
          = link_to  post_path(post.id), method: :delete, data: { confirm: '削除しますか？' } do
            = icon('fas', 'trash',class: "Post-box__header__top__edit__icon") 
          = link_to  edit_post_path(post.id) do
            = icon('fas', 'ellipsis-v',class: "Post-box__header__top__edit__icon") 
    .Post-box__header__middle
      .Post-box__header__middle__title
        = link_to  post_path(post.id) do
          = post.title
  .Post-box__main
    %p.Post-box__main__text
      = safe_join(post.content.split("\n"),tag(:br))
    .Post-box__main__date
      = post.created_at.strftime("%Y/%m/%d %H:%M")
  .Post-box__footer
    .Post-box__footer__tags
      .Post-box__footer__tags__tag
        タグ１
      .Post-box__footer__tags__tag
        タグ２
      .Post-box__footer__tags__tag
        タグ３
    .Post-box__footer__actions
      .Post-box__footer__actions__reply
        = link_to  post_path(post.id) do
          = icon('fas', 'reply',class: "Post-box__footer__actions__reply__icon") 
        .Post-box__footer__actions__reply__count
          = post.comments.count
      - if user_signed_in?
        .Post-box__footer__actions__up
          - if current_user.already_liked?(post)
            = link_to "/posts/#{post.id}/likes/#{post.likes.ids}", method: :delete  do
              = icon('far', 'thumbs-up', class: "Post-box__footer__actions__up__icon-on") 
          - else
            = link_to post_likes_path(post.id), method: :post do
              = icon('far', 'thumbs-up', class: "Post-box__footer__actions__up__icon") 
          .Post-box__footer__actions__up__count
            = post.likes.count 
        .Post-box__footer__actions__down
          - if current_user.already_bad?(post)
            = link_to "/posts/#{post.id}/bads/#{post.bads.ids}", method: :delete  do
              = icon('far', 'thumbs-down', class: "Post-box__footer__actions__down__icon-on") 
          - else
            = link_to post_bads_path(post.id), method: :post do
              = icon('far', 'thumbs-down', class: "Post-box__footer__actions__down__icon") 
          .Post-box__footer__actions__down__count
            = post.bads.count
      - else
        .Post-box__footer__actions__up
          = icon('far', 'thumbs-up', class: "Post-box__footer__actions__down__icon") 
          .Post-box__footer__actions__up__count
            = post.likes.count
        .Post-box__footer__actions__down
          = icon('far', 'thumbs-down', class: "Post-box__footer__actions__down__icon") 
          .Post-box__footer__actions__down__count
            = post.bads.count
