%header.Top-info
  .Top-info__items
    .nav
      = link_to "/" do
        Shares

    .search-posts
      = form_with url: search_posts_path, local: true, class: "search-posts__input-box", method: :get do |f|
        = f.text_field :keyword, placeholder: "検索", class: "search-posts__input-box__text"
        = icon('fas', 'search', class: "search-posts__input-box__image")
        = f.submit "", class: "search-posts__input-box__btn"
        

  

    - if user_signed_in?
      .info
        .info__icons
          .info__icons__icon
            = link_to new_post_path do
              = icon('far', 'edit', class: "info__icons__icon-btn")
          .info__icons__icon
            = link_to user_path(current_user) do
              = icon('fas', 'home', class: "info__icons__icon-btn")
          .info__icons__icon
            = link_to edit_user_path(current_user) do
              - if current_user.icon?
                = image_tag current_user.icon.url, class:"info__icons__icon-btn"
              - else
                = icon('fas', 'circle', class: "info__icons__icon-btn")
    - else
      .submit
        = link_to new_user_registration_path do
          %input{type: "submit", value: "新規登録", class: "submit__new"}
        = link_to new_user_session_path do
          %input{type: "submit", value: "ログイン", class: "submit__login"}
