%header.Top-info
  .Top-info__items
    .nav
      = link_to "/" do
        Shares

    %form.search-posts
      .search-posts__input-box
        %input{type: "text", class: "search-posts__input-box__text", placeholder: "検索"}
        %label{class: "search-posts__input-box__image"}
          = icon('fas', 'search')

    
        
    .info
      .info__icons
        = link_to new_post_path do
          = icon('far', 'edit', class: "info__icons__icon")
        = icon('fas', 'home', class: "info__icons__icon")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'circle', class: "info__icons__icon")
