.wrapper
  = render "top_info"
  .Body
    .Body__items 
      %main
        .Posts-list
          = render @post
          - if @comments.present?
            .Comments
              = icon('fas', 'reply', class: "Comments__icon")
              .Comments-list
                = render @comments
          - if user_signed_in?
            =render "comment_form"

      = render "side_bar"
